{{> navbar user }}

<div class="container">
  <div class="jumbotron"
    style="background-image: url(http://s3.serverdata.com/www.garysdoggrooming.com/files/sub-headers/faq-windows-header.jpg);">

    <h1 class="jumbotronTitle">Add New Animal</h1>
  </div>
</div>

<div class="container">
  <form>
    <fieldset>
      <legend>Animal Submission Form</legend>
      <div class="form-group">
        <label for="animalName">Animal Name</label>
        <input type="text" class="form-control" id="animalName" placeholder="e.g. Spot">
      </div>
      <div class="form-group">
        <label for="animalAge">Animal Age</label>
        <input type="text" class="form-control" id="animalAge" placeholder="Years in numbers please e.g. 2 or .4">
      </div>
      <div class="form-group">
        <label for="animalWeight">Animal Weight</label>
        <input type="text" class="form-control" id="animalWeight" placeholder="Pounds in numbers please e.g. 26 or 12">
      </div>
      <div class="form-group">
        <label for="animalSpeciesSelect">Animal Species</label>
        <select class="form-control" id="animalSpeciesSelect">
          <option>Dog</option>
          <option>Cat</option>
          <option>Other</option>
        </select>
      </div>
      <div class="form-group">
        <label for="animalBreed">Animal Breed</label>
        <input type="text" class="form-control" id="animalBreed" placeholder="e.g Chow Chow, Calico, Terrier Mix">
      </div>
      <fieldset class="form-group">
        <legend>Who is the animal good with?</legend>
        <div class="form-check" id="isGoodWith1">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="1" checked="">
            Dogs
          </label>
        </div>
        <div class="form-check" id="isGoodWith2">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="2" checked="">
            Cats
          </label>
        </div>
        <div class="form-check" id="isGoodWith3">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" value="3" checked="">
            Kids
          </label>
        </div>
      </fieldset>
      <div class="form-group">
        <label for="animalBio">A short Bio for the animal</label>
        <textarea class="form-control" id="animalBio" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="animalPicture">Animal Picture Upload Widget</label>
        <button id="upload_widget" class="cloudinary-button">Upload files</button>
      </div>
      <button type="button" class="btn btn-primary" id="submit">Submit</button>
    </fieldset>
  </form>
</div>


<br>
<br>


<!-- Modal -->
<div class="modal fade" id="addedAnimalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Shelter Helper</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modalBody">
        You added an Animal!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script>
  let picture
  var myWidget = cloudinary.createUploadWidget({
    cloudName: 'dlhropveb',
    uploadPreset: 'animalPicturesUpload',
  }, (error, result) => {
    if (!error && result && result.event === "success") {
      console.log('Done! Here is the image info: ', result.info);
      picture = result.info.url
    }
  }
  )

  document.getElementById("upload_widget").addEventListener("click", function (event) {
    event.preventDefault();
    myWidget.open();
  }, false);

  $("#submit").on("click", event => {
    event.preventDefault();
    isGoodWith = [];
    isGoodWith.push($("#isGoodWith1").val(), $("#isGoodWith2").val(), $("#isGoodWith3").val())
    const animal = {
      name: $("#animalName").val().trim(),
      age: parseFloat($("#animalAge").val()),
      weight: parseInt($("#animalWeight").val()),
      species: $("#animalSpeciesSelect").val(),
      bio: $("#animalBio").val().trim(),
      picture: picture,
      breed: $("#animalBreed").val().trim(),
      isGoodWith: isGoodWith
    };
    console.log(animal);
    $.post("/api/allAnimals", animal)
      .then(res => {
        $('#addedAnimalModal').modal()
        console.log(res)
      })
      .catch(function (err) {
        console.log(err)
      });
  });

</script>