{{> navbar user }}
<div class="container">
    <div class="jumbotron"
        style="background-image: url(http://s3.serverdata.com/www.garysdoggrooming.com/files/sub-headers/faq-windows-header.jpg);">

        <h1 class="homeTitle">Welcome to Shelter Helper</h1>
    </div>
</div>
<div class="container">
    <div class="typeOfAnimalFilter"> Which type of animal would you like to view? </div>
    <ul>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/allAnimals">All Animals</a></button>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/dogs">Dogs</a></button>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/cats">Cats</a></button>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/misc">Miscellaneous</a></button>
    </ul>
</div>
