{{> navbar user }}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="jumbotron">
                <h1 class="display-6">Shelter Helper</h1>
            </div>
        </div>

    </div>
<img src="https://cdn.shopify.com/s/files/1/2511/3770/products/LRart-adoptdontshop_tn_c0d51b19-5438-4c34-9f93-dc3be8f3161d_800x.jpg?v=1588215126" alt="A picture saying Adopt don't shop with cats and dogs around it">

<br>
    <div class="typeOfAnimalFilter"> Which type of animal would you like to view? </div>
    <ul>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/allAnimals">All Animals</a></button>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/dogs">Dogs</a></button>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/cats">Cats</a></button>
        <button type="animalChoice" class="btn btn-outline-success"><a href="/misc">Miscellaneous</a></button>
    </ul>
</div>