form.signup,
form.login {
  margin-top: 50px;
}

.forum-post-card {
  width: 100%;
}

.forum-post {
  width: 100%;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}


footer {
  text-align: center;
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container {
  display: grid
}
.jumbotron {
  
  height: 15.1em;
}
.homeTitle {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8em;
  position: relative;
  top: -1em;
  right:-18em;
  
}
.jumbotronTitle {
  font-family: 'Roboto Slab', serif;
  font-size: 2.5em;
  position: relative;
  top: -1em;
  right:-17em;
  
}
.loginTitle,
.otherAnimalTitle 
  {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  position: relative;
  top: -1em;
  right:-17em;
  
}
 
.signUpTitle 
  {
  font-family: 'Roboto Slab', serif;
  font-size: 2em;
  position: relative;
  top: -1em;
  right:-16em;
  
}
.allAnimalTable{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
}

 #animalImage {
   display: inline-block;
   max-width:60%;
   height: auto;
 }
#animalImgCol {
margin-left: auto;
margin-right: auto;
}
 .informationBox {
   display: inline-block;
   max-width: 90%;
   height: auto;
   font-family: 'Yanone Kaffeesatz', sans-serif;
   font-size: 1.3em;
 }

 .modal-title {
   font-size: 1.8em;
   font-family: 'Roboto Slab', serif;
   text-align: center;
 }

 .modalBody {
   font-size: 1.3em;
   font-family: 'Roboto Slab', serif;
   text-align: center;
 }

 #successStoryHeader {
  text-align: center;
  font-family: 'Caladea', serif;
  font-size: 1.5em
 }

 #successBodyText {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
 }

 .typeOfAnimalFilter {
   text-align: center;
   font-family: 'Caladea', serif;
   font-size: 1.3em;

 }

/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Yanone Kaffeesatz', sans-serif; 
font-family: 'Acme', sans-serif;
font-family: 'Caladea', serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

@media screen and (min-width: 750px) {
  .logo {
    display: inline-block;
  }
  .right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    margin: 0 auto;
    display: block;
  }
  .right {
    position: relative;
    display: block;
    width: 100%;
  }
}